@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet');

body * {
    font-family: 'Syne', sans-serif;
}

p {
    color: black;
}

.body {
    width: 100%;
}

.site-content {
    width: 100%;
}

.ast-container {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

/* HEADER */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 80px;
}

.logo {
    width: 201px;
    height: 19px;
    font-size: 19px;
    margin-left: 37px;
    margin-bottom: 20px;
}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_site_menu {
    margin-top: 30px;
}

.menu-item {
    list-style-type: none;
    font-size: 16px;
    padding: 10px;
}

.menu-item-63,
.menu-item-62 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.menu-item-63:hover,
.menu-item-62:hover {
    font-weight: bold;
}

.menu-item-61 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #DC9F96;
    height: 80px;
    width: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-61:hover {
    background-color: #C02E44;
}

.menu-item-63 a,
.menu-item-62 a {
    color: black;
}

.menu-item-61 a {
    color: white;
}

/* FOOTER */
.site-footer {
    height: 60px;
}

.site-primary-footer-wrap {
    padding: 0px;
}

.site-footer a {
    color: black;
}

/* MAIN - bloc_1_accueil */

.feuille_gauche,
.feuille_droite {
    width: 349px;
    height: 400px;
}

.canette {
    position: relative;
    margin-top: 60px;
    z-index: 3;
}

.feuille_gauche {
    position: absolute;
    right: 765px;
    top: 395px;
    z-index: 2;
}

.feuille_droite {
    position: absolute;
    left: 755px;
    top: 395px;
    z-index: 1;
}

.bloc_1_accueil {
    background-color: #ECE2DA;
    border-radius: 100% 100% 100% 100% / 0% 0% 10% 10%;
    border-bottom: solid;
    border-color: #E3D9D0;
    border-bottom-width: 12px;
    box-shadow: 0px 4px 0px #E3D9D0;
}

/* MAIN - bloc_2_accueil */

.bloc_2_accueil {
    background-color: #ECE2DA;
    border-radius: 100% 100% 100% 100% / 0% 0% 8% 8%;
}

.banniere_fruits_1,
.banniere_fruits_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
}

.img_fruits .wp-block-cover__image-background {
    width: 393px;
    height: 262px;  
}

.wp-block-cover__background {
    width: 500px;
    height: 262px;  
}

.wp-block-button {
    width: 198px;
    height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #E0B9B4;
    padding-top: 10px;
}

.wp-block-button a {
    font-size: 15px;
    padding: 0px;
}
