@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet');

body * {
    font-family: 'Syne', sans-serif;
}

p {
    color: black;
}

.body {
    width: 100%;

}

.site-content {
    width: 100%;
    margin: auto;
}

.ast-container {
    display: flex;
    justify-content: center;
}

/* HEADER */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 80px;
}

.logo {
    width: 201px;
    height: 19px;
    font-size: 19px;
    margin-left: 37px;
    margin-bottom: 20px;
}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_site_menu {
    margin-top: 30px;
}

.header_menu li {
    list-style-type: none;
    font-size: 16px;
    padding: 10px;
    border: none !important;
}

.menu-item-63,
.admin_link {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.menu-item-63:hover,
.admin_link:hover {
    font-weight: bold !important;
}

.menu-item-61 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #DC9F96;
    height: 80px;
    width: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-61:hover {
    background-color: #C02E44;
}

.menu-item-63 a,
.admin_link a {
    color: black;
}

.menu-item-61 a {
    color: white;
}

.menu-item-61 {
    order: 3 !important;
}

/* FOOTER */

.site-footer {
    height: 60px;
}

.site-primary-footer-wrap {
    padding: 0px;
}

.site-footer a {
    color: black;
}

/* MAIN - Page "Accueil" - bloc_1_accueil */

.bloc_canette_feuilles {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
}

.canette {
    position: absolute;
    width: 100%;
    z-index: 3;
}

.canette img {
    width: 387px;
    height: 618px;
}

.feuille_gauche {
    position: absolute;
    right: 50%;
    top: 140px;
    z-index: 2;
}

.feuille_droite {
    position: absolute;
    left: 50%;
    top: 140px;
    z-index: 1;
}

.bloc_1_accueil {
    background-color: #ECE2DA;
    height: 900px;
    border-bottom: solid;
    border-color: #dcd5cf;
    border-bottom-width: 10px;
    border-radius: 50% / 0% 0% 7% 7%;
    box-shadow: 0 5px 0 #dcd5cf;
}

/* MAIN - Page "Accueil" - bloc_2_accueil */

.bloc_2_texte_energie_accueil {
    width: 100%;
}
.bloc_2_texte_energie_accueil p {
    line-height: 100%;
}

/* MAIN - Page "Accueil" - bloc_3_accueil */

.bloc_3_accueil {
    background-color: #ECE2DA;
    border-radius: 70% / 0% 0% 7% 7%;
    margin-bottom: 30px;
}

.galerie_img_fruits {
    width: 60% !important;
}

.img_fruits {
    position: relative;
    display: inline-block;
}

.galerie_img_fruits .img_fruits .wp-element-caption {
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 48px !important;
    font-weight: 800 !important;
    background: none !important;
    margin: 0px !important;
    line-height: 58px;
    padding: 0px;
    overflow: hidden !important;
}

.img_fruits_fraise .wp-element-caption {
    height: 58px;
}

.img_fruits_pamplemousse .wp-element-caption {
    height: 116px;
    width: 358px;
}

.img_fruits_framboise .wp-element-caption {
    height: 116px;
    width: 285px !important;
}

.img_fruits_citron .wp-element-caption {
    height: 58px;
    width: 322px;
}

.bouton_commander .wp-element-button {
    height: 55px;
    width: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0B9B4 !important;
    border-color: #E0B9B4 !important;
}

.bouton_commander .wp-element-button:hover {
    background-color: #C02E44 !important;
}

/* MAIN - Page "Accueil" - bloc_avis */

.bloc_avis {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.colonne_bloc_avis {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texte_bloc_avis {
    width: 175px;
    padding-left: 20px;
}

.texte_bloc_avis p {
    line-height: 120%;
}

/* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

.bloc_1_nous_rencontrer {
    background-color: #ECE2DA;
    border-radius: 70% / 0% 0% 20% 20%;
    padding-top: 200px;
    position: relative;
}

.bloc_1_nous_rencontrer p {
    width: 100%;
    height: auto;
    padding-left: 525px;
    padding-right: 525px;
    line-height: 120%;
}

.fleur_bloc_1_nous_rencontrer {
    position: absolute;
    top: 10%;
    left: 10%;
    max-width: 100%;
    height: auto;
}

.bloc_equipe_nous_rencontrer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bloc_equipe_nous_rencontrer .equipe_membre {
    display: flex;
    flex-direction: column;
}

.bloc_equipe_nous_rencontrer .wp-block-columns {
    width: 60%;
}

.feuille_bloc_equipe_nous_rencontrer {
    position: absolute;
    top: 683px;
    left: 93%;
    transform: translateX(-50%);
}

.bande_canettes {
    background-color: #ECE2DA;
}

/* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

.bloc_2_nous_rencontrer {
    background-color: #ECE2DA;
}

.bloc_2_nous_rencontrer .wpcf7 {
    width: 383px;
}

.wpcf7-form label {
    font-size: 20px;
    position: relative;
    z-index: 2;
}

.feuille_bloc_nous_contacter {
    position: absolute;
    top: 80%;
    left: 37%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.wpcf7-form .wpcf7-submit {
    margin-left: 85px;
    height: 55px;
    width: 198px;
    border-radius: 5px;
    background-color: #E0B9B4;
}

.wpcf7-form .wpcf7-submit:hover {
    background-color: #C02E44;
}

.wpcf7-form-control-wrap input {
    height: 71px;
    border-radius: 7px;
}

.wpcf7-form-control-wrap textarea {
    height: 237px;
    border-radius: 7px;
}

/* MAIN - Page "Commander" */

.bloc_principal_commander {
    background-color: #3B8E46;
    display: flex;
    flex-direction: column;
}

.section_commande h3,
.section_commande h4,
.bloc_info_livraison h3,
.bloc_info_livraison label {
    color: white;
}

.section_commande h4 {
    font-size: 20px;
}

.section_commande h3 {
    padding-top: 40px;
    padding-bottom: 20px;
}

.section_commande {
    display: flex;
    flex-direction: column;
    border-top: solid;
    border-bottom: solid;
    border-color: white;
    border-width: 1px;
    width: 100%;
    height: auto;
}

.bloc_complet_fruits {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    justify-content: center;
    gap: 30px;
}

.bloc_individuel_fruits,
.bloc_fruits_image_texte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloc_individuel_fruits,
.bloc_fruits_image_texte {
    width: 100%;
}

.bloc_fruits_image_texte img {
    width: 100%;
    height: 128px;
}

.bloc_fruits_image_texte {
    position: relative;
    padding-bottom: 15px;
}

.bloc_fruits_image_texte h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bloc_fruits_image_texte p {
    margin-bottom: 0px;
}

.bloc_fruits_image_texte .texte_fraise {
    height: 28px;
    width: 144px;
}

.bloc_fruits_image_texte .texte_pamplemousse {
    height: 56px;
    width: 165px;
}

.bloc_fruits_image_texte .texte_framboise {
    height: 56px;
    width: 120px;
}

.bloc_fruits_image_texte .texte_citron {
    height: 28px;
    width: 158px;
}

.quantite_fruits {
    width: 39px !important;
    height: 56px;
    border-radius: 0px !important;
    padding: 6px 0px 6px 6px !important;
    text-align: center;
}

.section_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.bloc_info_livraison {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.bloc_informations p,
.bloc_livraison p {
    margin-bottom: 0px;
}

.bloc_informations {
    padding-right: 50px;
}

.bloc_livraison {
    padding-left: 50px;
    border-left: solid;
    border-color: white;
    border-width: 1px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/* Medium devices (large screen, less/equal than 1880px) */

@media (max-width: 1880px) {

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 78%;
        left: 40%;
    }
}

/* Medium devices (large screen, less/equal than 1780px) */

@media (max-width: 1780px) {

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .bloc_1_nous_rencontrer p {
        padding-left: 425px;
        padding-right: 425px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 79%;
        left: 39%;
    }
}

/* Medium devices (large screen, less/equal than 1624px) */

@media (max-width: 1624px) {

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .bloc_1_nous_rencontrer p {
        padding-left: 325px;
        padding-right: 325px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        left: 38%;
    }
}

/* Medium devices (screen, less/equal than 1405px) */

@media (max-width: 1405px) {

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 45px !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .bloc_1_nous_rencontrer p {
        padding-left: 225px;
        padding-right: 225px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 80%;
        left: 37%;
    }
}

/* Medium devices (tablets, less/equal than 1331px) */

@media (max-width: 1331px) {

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 40px !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .feuille_bloc_equipe_nous_rencontrer img {
        height: 199px !important;
        width: 171px !important;
    }

    .feuille_bloc_equipe_nous_rencontrer {
        top: 703px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 80%;
        left: 36%;
    }
}

/* Medium devices (tablets, less/equal than 1207px) */

@media (max-width: 1207px) {

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 35px !important;
    }

    .galerie_img_fruits {
        width: 70% !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 81%;
        left: 35%;
    }
}

/* Medium devices (tablets, less/equal than 1083px) */

@media (max-width: 1083px) {

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 30px !important;
        line-height: 48px;
    }
    
    .galerie_img_fruits {
        width: 80% !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .fleur_bloc_1_nous_rencontrer {
        left: 6% !important;
    }

    .fleur_bloc_1_nous_rencontrer img {
        width: 135px !important;
        height: 140px !important;
    }

    .bloc_equipe_nous_rencontrer .wp-block-columns {
        width: 70%;
    }

    .bloc_1_nous_rencontrer p {
        padding-left: 125px;
        padding-right: 125px;
    }
    
    .bloc_equipe_nous_rencontrer {
        padding-bottom: 20px !important;
    }

    .feuille_bloc_equipe_nous_rencontrer img {
        height: 169px !important;
        width: 145px !important;
    }

    .feuille_bloc_equipe_nous_rencontrer {
        top: 724px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 81%;
        left: 34%;
    }
}

/* Medium devices (tablets, less/equal than 959px) */

@media (max-width: 959px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 357px;
        height: 588px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 319px;
        height: 370px;
    }

    .bloc_1_accueil {
        height: 850px;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */
    
    .img_fruits_framboise .wp-element-caption {
        height: 100px;
        width: 200px !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .fleur_bloc_1_nous_rencontrer {
        left: 5% !important;
    }

    .fleur_bloc_1_nous_rencontrer img {
        width: 125px !important;
        height: 130px !important;
    }

    .bloc_equipe_nous_rencontrer .wp-block-columns {
        width: 80%;
    }

    .bloc_1_nous_rencontrer p {
        padding-left: 75px;
        padding-right: 75px;
    }

    .bloc_equipe_nous_rencontrer {
        padding-bottom: 15px !important;
    }

    .feuille_bloc_equipe_nous_rencontrer {
        top: 720px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 82%;
        left: 31%;
    }
}

/* Medium devices (tablets, less/equal than 920px) */

@media (max-width: 920px) {
    
    /* HEADER */

    .navbar {
        display: none;
    }

}

/* Medium devices (tablets, less/equal than 890px) */

@media (max-width: 890px) {

    /* MAIN - Page "Accueil" - bloc_avis */

    .bloc_avis {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .colonne_bloc_avis {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .wpcf7-form .wpcf7-submit {
        margin-left: 70px;
    }

    .wpcf7-form-control-wrap input {
        height: 61px;
    }

    /* MAIN - Page "Commander" */

    .bloc_complet_fruits {
        display: flex;
        flex-wrap: wrap;
    }

    .bloc_individuel_fruits,
    .bloc_fruits_image_texte {
        width: 165px;
    }

    .bloc_fruits_image_texte img {
        width: 165px;
        height: 128px;
    }
    
    .bloc_info_livraison {
        display: flex;
        flex-direction: column;
    }
    
    .bloc_informations {
        padding-right: 0px;
        padding-bottom: 40px;
    }
    
    .bloc_livraison {
        padding-top: 30px;
        padding-left: 0px;
        border-left: none;
        border-top: solid;
        border-color: white;
        border-width: 1px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .feuille_bloc_nous_contacter {
        top: 82%;
        left: 31%;
    }
}

/* Medium devices (tablets, less/equal than 787px) */

@media (max-width: 787px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 327px;
        height: 558px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 289px;
        height: 340px;
    }

    .bloc_1_accueil {
        height: 810px;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits {
        width: 90% !important;
    }
    
    .img_fruits {
        position: relative;
        display: inline-block;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .fleur_bloc_1_nous_rencontrer {
        left: 3% !important;
    }

    .fleur_bloc_1_nous_rencontrer img {
        width: 115px !important;
        height: 120px !important;
    }
}

/* Small devices (tablets, less/equal than 750px) */

@media (max-width: 750px) {
    
    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 297px;
        height: 528px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 259px;
        height: 310px;
    }

    .bloc_1_accueil {
        height: 780px;
    }
    
    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits {
        width: 90% !important;
    }
    
    .img_fruits {
        position: relative;
        display: inline-block;
    }

    .galerie_img_fruits .img_fruits .wp-element-caption {
        line-height: 35px;
        padding-top: 14px !important;
    }

    .img_fruits_framboise .wp-element-caption {
        width: 180px !important;
    }

    .bouton_commander .wp-element-button {
        height: 45px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .fleur_bloc_1_nous_rencontrer {
        left: 2% !important;
    }

    .fleur_bloc_1_nous_rencontrer img {
        width: 105px !important;
        height: 110px !important;
    }

    .bloc_1_nous_rencontrer p {
        padding-left: 0px;
        padding-right: 0px;
    }

    /* MAIN - Page "Commander" */

    .section_commande {
        align-items: center;
    }
}

/* Small devices (tablets, less/equal than 650px) */

@media (max-width: 650px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 267px;
        height: 478px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 229px;
        height: 280px;
    }

    .bloc_1_accueil {
        height: 740px;
    }

    /* MAIN - Page "Accueil" - bloc_2_accueil */

    .bloc_2_texte_energie_accueil {
        font-size: 18px;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .bloc_3_accueil p {
        font-size: 18px;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 100% !important;
    }

    /* MAIN - Page "Accueil" - bloc_avis */

    .bloc_avis {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .colonne_bloc_avis {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .bloc_1_nous_rencontrer p {
        font-size: 18px;
    }

    .bloc_equipe_nous_rencontrer .wp-block-columns {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .wpcf7-form label {
        font-size: 18px;
    }

    .wpcf7-form .wpcf7-submit {
        height: 45px;
        margin-left: 70px;
    }

    .wpcf7-form-control-wrap input {
        height: 51px;
    }

    /* MAIN - Page "Commander" */

    .section_commande {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .bloc_informations {
        padding-right: 0px;
        padding-bottom: 40px;
    }
    
    .bloc_livraison {
        padding-top: 30px;
        padding-left: 0px;
        border-left: none;
        border-top: solid;
        border-color: white;
        border-width: 1px;
    }
}    

/* Small devices (tablets, less/equal than 613px) */

@media (max-width: 613px) {
    
    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 267px;
        height: 458px;
    }

    .feuille_gauche {
        top: 130px;
    }
    
    .feuille_droite {
        top: 130px;
    }

    .bloc_1_accueil {
        height: 730px;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 26px !important;
        line-height: 28px;
        padding-top: 16px !important;
    }

    .bouton_commander .wp-element-button {
        height: 40px;
        width: 188px;
    }

    .galerie_img_fruits {
        padding-bottom: 20px !important;
    }
}

/* Small devices (tablets, less/equal than 550px) */

@media (max-width: 550px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 247px;
        height: 438px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 209px;
        height: 260px;
    }

    .bloc_1_accueil {
        height: 690px;
    }

    /* MAIN - Page "Accueil" - bloc_2_accueil */

    .bloc_2_texte_energie_accueil {
        font-size: 16px !important;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .bloc_3_accueil p {
        font-size: 16px !important;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 20px !important;
        line-height: 22px;
    }

    .img_fruits_framboise .wp-element-caption {
        width: 120px !important;
    }

    .bouton_commander .wp-element-button {
        height: 35px;
        width: 168px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */

    .fleur_bloc_1_nous_rencontrer {
        left: 2% !important;
    }

    .fleur_bloc_1_nous_rencontrer img {
        width: 85px !important;
        height: 90px !important;
    }

    .bloc_1_nous_rencontrer p {
        font-size: 16px;
    }
}    

/* Small devices (tablets, less/equal than 510px) */

@media (max-width: 510px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 227px;
        height: 418px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 189px;
        height: 240px;
    }

    .bloc_1_accueil {
        height: 670px;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 18px !important;
        line-height: 20px;
    }

    .bouton_commander .wp-element-button {
        height: 35px;
        width: 148px;
    }

    .galerie_img_fruits {
        padding-bottom: 16px !important;
    }
} 

/* Small devices (tablets, less/equal than 450px) */

@media (max-width: 450px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 207px;
        height: 368px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 169px;
        height: 220px;
    }

    .feuille_gauche {
        top: 120px;
    }
    
    .feuille_droite {
        top: 120px;
    }  

    .bloc_1_accueil {
        height: 620px;
    }
}

/* Small devices (tablets, less/equal than 400px) */

@media (max-width: 400px) {

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .canette img {
        width: 187px;
        height: 328px;
    }

    .feuille_gauche,
    .feuille_droite {
        width: 149px;
        height: 200px;
    }

    .feuille_gauche {
        top: 110px;
    }
    
    .feuille_droite {
        top: 110px;
    }  

    .bloc_1_accueil {
        height: 600px;
    }

    /* MAIN - Page "Accueil" - bloc_2_accueil */

    .bloc_2_texte_energie_accueil {
        font-size: 14px !important;
    }
    
    /* MAIN - Page "Accueil" - bloc_3_accueil */
    
    .bloc_3_accueil p {
        font-size: 14px !important;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 14px !important;
        line-height: 16px;
    }
    
    .bouton_commander .wp-element-button {
        height: 35px;
        width: 118px;
    }

    .bouton_commander a {
        font-size: 11px !important;
    }

    .galerie_img_fruits {
        padding-bottom: 10px !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */
    
    .bloc_1_nous_rencontrer p {
        font-size: 14px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */

    .wpcf7-form label {
        font-size: 16px;
    }

    .wpcf7-form .wpcf7-submit {
        height: 40px;
        margin-left: 70px;
    }

    .wpcf7-form-control-wrap input {
        height: 45px;
        width: 320px !important;
    }
}

/* Small devices (mobile, less/equal than 350px) */

@media (max-width: 350px) {

    h1 {
        font-size: 20px !important;
    }

    /* MAIN - Page "Accueil" - bloc_1_accueil */

    .bloc_1_accueil {
        height: 630px;
    }

    /* MAIN - Page "Accueil" - bloc_2_accueil */

    .bloc_2_texte_energie_accueil {
        font-size: 12px !important;
    }
    
    /* MAIN - Page "Accueil" - bloc_3_accueil */
    
    .bloc_3_accueil p {
        font-size: 12px !important;
    }

    /* MAIN - Page "Accueil" - bloc_3_accueil */

    .galerie_img_fruits .img_fruits .wp-element-caption {
        font-size: 12px !important;
        line-height: 14px;
    }
    
    .bouton_commander .wp-element-button {
        height: 30px;
        width: 108px;
    }

    .bouton_commander a {
        font-size: 10px !important;
    }

    .galerie_img_fruits {
        padding-bottom: 6px !important;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_1_nous_rencontrer */
    
    .bloc_1_nous_rencontrer p {
        font-size: 12px;
    }

    /* MAIN - Page "Nous rencontrer" - bloc_2_nous_rencontrer */
    
    .wpcf7-form label {
        font-size: 16px;
    }

    .wpcf7-form .wpcf7-submit {
        height: 35px;
        margin-left: 70px;
    }

    .wpcf7-form-control-wrap input {
        height: 40px;
        width: 260px !important;
    }

    .bouton_commander p {
        margin-bottom: 0px;
    }
}