@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet');

body * {
    font-family: 'Syne', sans-serif;
}

p {
    color: black;
}

.home {
    width: 100%;
}

/* HEADER */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 80px;
}

.logo {
    width: 201px;
    height: 19px;
    font-size: 19px;
    margin-left: 37px;
    margin-bottom: 20px;
}

.header_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header_site_menu {
    margin-top: 30px;
}

.menu-item {
    list-style-type: none;
    font-size: 16px;
    padding: 10px;
}

.menu-item-63,
.menu-item-62 {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}

.menu-item-63:hover,
.menu-item-62:hover {
    font-weight: bold;
}

.menu-item-61 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #DC9F96;
    height: 80px;
    width: 236px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item-61:hover {
    background-color: #C02E44;
}

.menu-item-63 a,
.menu-item-62 a {
    color: black;
}

.menu-item-61 a {
    color: white;
}

/* FOOTER */
.site-footer {
    height: 60px;
}

.site-primary-footer-wrap {
    padding: 0px;
}

.site-footer a {
    color: black;
}

/* MAIN - Bloc_1 */
.titre_principal {
    margin-top: 90px;
}

.image_canette_principale {
    height: 600px;
}

.feuille_gauche,
.feuille_droite {
    width: 349px;
    height: 400px;
}

.canette {
    position: relative;
    margin-top: 60px;
    z-index: 3;
}

.feuille_gauche {
    position: absolute;
    right: 750px;
    top: 140px;
    z-index: 2;
}

.feuille_droite {
    position: absolute;
    left: 670px;
    top: 140px;
    z-index: 1;
}

/* A revoir */
.bloc_1 {
    border-radius: 45% 110% 60% 70% / 0% 0% 10% 10%;
}

.bloc_1 .uagb-container-inner-blocks-wrap {
    border-radius: 45% 110% 60% 70% / 0% 0% 10% 10%;
    box-shadow: 0px 10px 0px #E3D9D0;
    padding-bottom: 30px;
}

/* MAIN - Bloc_2 */
/* ok */
.bloc_2 {
    height: 425px;
}

.bloc_2 + p {
    width: 497px;
    height: 120px;
}

/* MAIN - Bloc_3 */
/* A revoir */
.bloc_3 .uagb-container-inner-blocks-wrap {
    padding-top: 20px;
    padding-bottom: 50px;
}

.button_commander {
    margin-top: 30px;
    width: 198px;
    height: 55px;
}

/* MAIN - Bloc_4 */
.bloc_4 .uagb-container-inner-blocks-wrap {
    padding-top: 100px;
    padding-bottom: 30px;
}

.banniere_fruits {
    border: solid;
    border-color: red;
    width: 393px;
    height: 262px;
}



.bloc_banniere_fruits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: solid;
    border-color: blue;
}